<footer>
  <div class="container pb-1 pb-lg-7">
    <div class="row content-space-t-2">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <!-- Logo -->
        <div class="mb-5">
          <a class="navbar-brand" href="@@autopath/index.html" aria-label="Space">
            <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo.svg" alt="Image Description">
          </a>
        </div>
        <!-- End Logo -->


        
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="mb-3">Recursos</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-secondary" href="Nostros">Nosotros</a></li>
          <li><a class="link-sm link-secondary" href="Pagos">Pagos</a></li>
          <li><a class="link-sm link-secondary" href="Nexus">Nexus</a></li>
          <li><a class="link-sm link-secondary" href="Bolsa de Trabajo">Bolsa de Trabajo</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="mb-3">Traducción</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-secondary" href="#">Digital</a></li>
          <li><a class="link-sm link-secondary" href="#">Consecutiva</a></li>
          <li><a class="link-sm link-secondary" href="#">Oficial</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="mb-3">Interpretación</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-secondary" href="#">Simultánea</a></li>
          <li><a class="link-sm link-secondary" href="#">Consecutiva</a></li>
          <li><a class="link-sm link-secondary" href="#">OPI</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm">
        <h5 class="mb-3">Contacto</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-secondary" href="#">Formulario digital</a></li>
          <li><a class="link-sm link-secondary" href="#">Iniciar sesión</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top my-7"></div>

    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline list-separator mb-0">
          <li class="list-inline-item">
            <a class="text-body" href="#">Libro de reclamaciones</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#">Politica de privacidad</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#">Términos y condiciones</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#">Uso de Sitio</a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>

  
    </div>
  </div>
</footer>