<footer class="bg-dark">
  <div class="container pb-1 pb-lg-5">
    <div class="row content-space-t-2">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <!-- Logo -->
        <div class="mb-5">
          <a class="navbar-brand" href="@@autopath/index.html" aria-label="Space">
            <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo-white.svg" alt="Image Description">
          </a>
        </div>
        <!-- End Logo -->
        
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Recursos</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="Nostros">Nosotros</a></li>
          <li><a class="link-sm link-light" href="Pagos">Pagos</a></li>
          <li><a class="link-sm link-light" href="Nexus">Nexus</a></li>
          <li><a class="link-sm link-light" href="Bolsa de Trabajo">Bolsa de Trabajo</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3"></h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">Digital</a></li>
          <li><a class="link-sm link-light" href="#">Consecutiva</a></li>
          <li><a class="link-sm link-light" href="#">Oficial</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Interpretación</h5>
        
        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">Simultánea</a></li>
          <li><a class="link-sm link-light" href="#">Consecutiva</a></li>
          <li><a class="link-sm link-light" href="#">OPI</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm">
        <h5 class="text-white mb-3">Contacto</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-light" href="#">Formulario digital</a></li>
          <li><a class="link-sm link-light" href="#">Iniciar sesión</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top border-white-10 my-7"></div>

    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline list-separator list-separator-light mb-0">
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Libro de reclamaciones</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Politica de privacidad</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Términos y Condiciones</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Términos y Condiciones</a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>
    <!-- End Copyright -->
  </div>
</footer>
