<!-- Company -->
<li class="nav-item">
  <a class="hs-mega-menu-invoker nav-link" href="nosotros.html" role="button" aria-expanded="false">Nosotros</a>
</li>

<!-- Portfolio -->
<li class="nav-item">
  <a class="hs-mega-menu-invoker nav-link" href="pagos.html" role="button" aria-expanded="false">Pagos</a>
</li>

<!-- Portfolio -->
<li class="nav-item">
  <a class="hs-mega-menu-invoker nav-link" href="nexus.html" role="button" aria-expanded="false">Nexus</a>
</li>

<!-- Portfolio -->
<li class="nav-item">
  <a class="hs-mega-menu-invoker nav-link" href="bolsa.html" role="button" aria-expanded="false">Trabaje aquí</a>
</li>

<!-- Portfolio -->
<li class="nav-item">
  <a class="hs-mega-menu-invoker nav-link" href="contacto.html" role="button" aria-expanded="false">Contacto</a>
</li>